
.listings-skeleton .ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph {
  margin: 12px 0;
}

.listings-skeleton .listing-skeleton-alert{
  margin-bottom: 20px;
}

.listings-skeleton .ant-divider-horizontal {
  margin: 12px 0;
}